
.productInfo{
    margin: 50px 75px;
    font: 20px bold ;
}

.card-img-left {
    margin: 40px 0px;

    box-shadow: 10px 10px 5px lightblue;
}

.info{
    margin: 40px 0px;
}

.btn  {
    margin: 5px;
}

