
.productInfo{
    margin: 50px 120px;
    font: 20px bold ;
    box-shadow: 10px 10px 5px lightblue;
    background-color: aliceblue;
}

.card-img-left {
    margin: 40px 0px;

    box-shadow: 10px 10px 5px lightblue;
}

.info{
    margin: 40px 0px;
}

.btn  {
    margin: 5px;
}

.infoPag{
    background-color:lightblue ;
}

.quantity{
    position: absolute;
    right: 270px;
}