



.title{
    font-size: 18px;
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.price {
    font-size: 20px;
    margin: 15px;
    padding: 1px;
    font-style: italic;
}


.buttonProduct{
    position: absolute;
    left: 130px;
}